/* © 2017-2018 Ivan Korolenko */


.section-2-header {
    font-size: 2.5rem;
    line-height: 4rem;
}

.section-2-facts-p span:before {
    width: 12rem;
}

.section-3-header:before {
    margin-left: -2rem;
}

.section-3-used-tech-header:after {
    width: 19vw;
}

.section-3-used-tech-list {
    margin-left: -9rem;
}



@media screen and (max-width:1280px) and (orientation:portrait) {
    .bottom-nav li {
        margin: 0 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .section-2-facts-p span:before {
        width: 12.2rem;
    }

    .section-3-used-tech-header:after {
        width: 38vw;
    }
}
